BOT_TOKEN=8744681561:AAFDbSpss_QMWH6FLlTR7vppM1WeSQMvyVo
ADMIN_TELEGRAM_ID=6714505419
MYSTIQ_PUBLIC_ID=ci_jl5j4r084jx0gl6
MYSTIQ_PRIVATE_ID=cs_88kawsh457bor22gxtgeif8la
MYSTIQ_DEFAULT_PAYER_DOCUMENT=
MYSTIQ_CREATE_PAYMENT_PATH=
MYSTIQ_PAYMENT_STATUS_PATH=
